<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>{{ iosFirebaseClientId }}</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>{{ iosFirebaseReversedClientId }}</string>
	<key>API_KEY</key>
	<string>{{ iosFirebaseApiKey }}</string>
	<key>GCM_SENDER_ID</key>
	<string>78620329178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>{{ iosBundleId }}</string>
	<key>PROJECT_ID</key>
	<string>{{ firebaseProjectId }}</string>
	<key>STORAGE_BUCKET</key>
	<string>{{ firebaseStorageBucket }}</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>{{ googleAppId }}</string>
</dict>
</plist>